@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
botton,
body {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #F4F4F4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.button-primary {
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: #3f9eff;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.button-primary:hover {
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: #3291f3;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.separator {
  margin-top: .75rem;
  margin-bottom: .75rem;
  height: 1px;
  width: 50vw;
  background: #3291f3;
  border-radius: 5px;
}

.wrapper-todolist {
  margin: 1rem;
  padding: 5rem 2rem;
  background: #FFF;
  border-radius: 1.25rem;
  box-shadow: 2px -1px 5px 0px rgba(0, 0, 0, 0.07);
}

/* TEXT STYLES */
.color-dark {
  color: #444444;
}

.color-blue {
  color: #329eff;
}
